USE [IMAPSStg]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XX_R22_CERIS_VALIDAT_ERRORS](
	[EMPL_ID] [varchar](6) NOT NULL,
	[STATUS_RECORD_NUM] [int] NOT NULL,
	[ERROR_DESC] [varchar](256) NOT NULL,
	[TIME_STAMP] [datetime] NOT NULL CONSTRAINT [DF_XX_R22_CERIS_TIME_391958F9]  DEFAULT (getdate()),
	[REFERENCE1] [varchar](125) NULL,
	[REFERENCE2] [varchar](125) NULL,
	[REFERENCE3] [varchar](125) NULL,
	[REFERENCE4] [varchar](125) NULL,
	[REFERENCE5] [varchar](125) NULL,
	[CREATION_DATE] [datetime] NOT NULL CONSTRAINT [DF_XX_R22_CERIS_TIME]  DEFAULT (getdate()),
	[CREATED_BY] [varchar](35) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](35) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[XX_R22_CERIS_VALIDAT_ERRORS]  WITH CHECK ADD  CONSTRAINT [FK_XX_R22_CERIS_VALIDAT_ERRORS] FOREIGN KEY([STATUS_RECORD_NUM])
REFERENCES [dbo].[XX_IMAPS_INT_STATUS] ([STATUS_RECORD_NUM])
GO
ALTER TABLE [dbo].[XX_R22_CERIS_VALIDAT_ERRORS] CHECK CONSTRAINT [FK_XX_R22_CERIS_VALIDAT_ERRORS]