USE [IMAPSStg]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XX_R22_CERIS_EMPL_ID_MAP](
	[SEQ_NO] [int] IDENTITY(1,1) NOT NULL,
	[R_EMPL_ID] [varbinary](256) NOT NULL,
	[EMPL_ID] [varchar](6) NULL,
	[TIME_STAMP] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF