USE [IMAPSStg]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[XX_R22_PROJEMPL_ARCHIVE](
	[STATUS_REC_NO] [int] NOT NULL,
	[R_EMPL_ID] [varchar](6) NULL,
	[PROJ_ABBRV_CD] [varchar](4) NOT NULL,
	[REFERENCE1] [varchar](125) NULL,
	[REFERENCE2] [varchar](125) NULL,
	[REFERENCE3] [varchar](125) NULL,
	[REFERENCE4] [varchar](125) NULL,
	[REFERENCE5] [varchar](125) NULL,
	[CREATION_DATE] [datetime] NOT NULL CONSTRAINT [NN_XX_R22_PROJEMP_CDATE]  DEFAULT (getdate()),
	[CREATED_BY] [varchar](35) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF