USE [IMAPSStg]
GO
/****** Object:  StoredProcedure [dbo].[XX_RETRORATE_ADD_NEW_REC_SP]    Script Date: 05/06/2008 10:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[XX_RETRORATE_ADD_NEW_REC_SP]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[XX_RETRORATE_ADD_NEW_REC_SP]
GO


create procedure [dbo].[XX_RETRORATE_ADD_NEW_REC_SP]
(
@in_effect_dt char(10) = NULL,
@out_SQLServer_error_code INTEGER      = NULL OUTPUT,
@out_STATUS_DESCRIPTION   VARCHAR(275) = NULL OUTPUT
)
AS

/************************************************************************************************  
Name:       	XX_RETRORATE_ADD_NEW_REC_SP
Author:     	
Created:    	01/2006 
Purpose:    	Create new line for each employee with current effective date
The plan

Stored Procedures - Writes in to :
			- IMAPS.DELTEK.EMPL_LAB_INFO Create new line for each active employee with current year's effective date
		    Reads from:
			- IMAPS.DELTEK.EMPL_LAB_INFO
			- imaps.deltek.empl

05/06/2008 - COMPANY_ID 
*************************************************************************************************/

BEGIN

--05/06/2008 - COMPANY_ID
DECLARE @COMPANY_ID varchar(10)

SELECT	@COMPANY_ID = PARAMETER_VALUE
FROM	XX_PROCESSING_PARAMETERS
WHERE	INTERFACE_NAME_CD='RETRORATE'


DECLARE @EMPL_ID varchar(12),
	@MAX_EFFECT_DT smalldatetime,
	@NEW_EFFECT_DT smalldatetime,
	@NEW_END_DT smalldatetime,
	@DFLT_END_DT smalldatetime

IF @in_effect_dt is null
	SET @in_effect_dt=cast(datepart(yyyy,getdate()) as char(4)) + '-01-01'

PRINT @in_effect_dt

SET @NEW_EFFECT_DT = cast(@in_effect_dt as smalldatetime)
SET @NEW_END_DT = @NEW_EFFECT_DT - 1
SET @DFLT_END_DT = cast('2078-12-31' as smalldatetime)

DECLARE EMPL_LAB_CURSOR CURSOR FAST_FORWARD FOR
SELECT a.EMPL_ID, MAX(b.EFFECT_DT) FROM
IMAPS.DELTEK.EMPL a
INNER JOIN
IMAPS.DELTEK.EMPL_LAB_INFO b
ON 
(
	--to join tables
    a.EMPL_ID = b.EMPL_ID
    --to exclude existing records
    and a.EMPL_ID NOT IN (SELECT EMPL_ID FROM IMAPS.DELTEK.EMPL_LAB_INFO WHERE EFFECT_DT = @NEW_EFFECT_DT)
)
WHERE 
--05/06/2008 - COMPANY_ID
a.COMPANY_ID = @COMPANY_ID
GROUP BY a.EMPL_ID
--exclude employees hired after @NEW_EFFECT_DT
HAVING MIN(b.EFFECT_DT) < @NEW_EFFECT_DT

OPEN EMPL_LAB_CURSOR
FETCH NEXT FROM EMPL_LAB_CURSOR INTO
@EMPL_ID, @MAX_EFFECT_DT

WHILE @@FETCH_STATUS = 0
BEGIN
	--if no entry for current year at all
	IF(@MAX_EFFECT_DT < @NEW_EFFECT_DT)
	BEGIN
		UPDATE IMAPS.DELTEK.EMPL_LAB_INFO
		SET END_DT = @NEW_END_DT
		WHERE EMPL_ID = @EMPL_ID
		AND EFFECT_DT = @MAX_EFFECT_DT
	
		INSERT INTO IMAPS.DELTEK.EMPL_LAB_INFO
		(EMPL_ID, EFFECT_DT, S_HRLY_SAL_CD,
		HRLY_AMT, SAL_AMT, ANNL_AMT, EXMPT_FL, S_EMPL_TYPE_CD,
		ORG_ID, TITLE_DESC, WORK_STATE_CD, STD_EST_HRS, STD_EFFECT_AMT, 
		LAB_GRP_TYPE, GENL_LAB_CAT_CD, MODIFIED_BY, TIME_STAMP , PCT_INCR_RT,
		HOME_REF1_ID, HOME_REF2_ID, REASON_DESC, DETL_JOB_CD, PERS_ACT_RSN_CD,
		LAB_LOC_CD, MERIT_PCT_RT, PROMO_PCT_RT, COMP_PLAN_CD, SAL_GRADE_CD,
		S_STEP_NO, REVIEW_FORM_ID, OVERALL_RT, MGR_EMPL_ID, END_DT,
		SEC_ORG_ID, COMMENTS, EMPL_CLASS_CD, WORK_YR_HRS_NO, BILL_LAB_CAT_CD,
		PERS_ACT_RSN_CD_2, PERS_ACT_RSN_CD_3, REASON_DESC_2, REASON_DESC_3, 
		CORP_OFCR_FL, SEASON_EMPL_FL, HIRE_DT_FL, TERM_DT_FL, AFF_PLAN_CD, 
		JOB_GROUP_CD, AA_COMMENTS, TC_TS_SCHED_CD, TC_WORK_SCHED_CD, ROWVERSION)
		SELECT @EMPL_ID, @NEW_EFFECT_DT, S_HRLY_SAL_CD,
		HRLY_AMT, SAL_AMT, ANNL_AMT, EXMPT_FL, S_EMPL_TYPE_CD,
		ORG_ID, TITLE_DESC, WORK_STATE_CD, STD_EST_HRS, STD_EFFECT_AMT, 
		LAB_GRP_TYPE, GENL_LAB_CAT_CD, MODIFIED_BY, CURRENT_TIMESTAMP , PCT_INCR_RT,
		HOME_REF1_ID, HOME_REF2_ID, REASON_DESC, DETL_JOB_CD, PERS_ACT_RSN_CD,
		LAB_LOC_CD, MERIT_PCT_RT, PROMO_PCT_RT, COMP_PLAN_CD, SAL_GRADE_CD,
		S_STEP_NO, REVIEW_FORM_ID, OVERALL_RT, MGR_EMPL_ID, @DFLT_END_DT,
		SEC_ORG_ID, COMMENTS, EMPL_CLASS_CD, WORK_YR_HRS_NO, BILL_LAB_CAT_CD,
		PERS_ACT_RSN_CD_2, PERS_ACT_RSN_CD_3, REASON_DESC_2, REASON_DESC_3, 
		CORP_OFCR_FL, SEASON_EMPL_FL, HIRE_DT_FL, TERM_DT_FL, AFF_PLAN_CD, 
		JOB_GROUP_CD, AA_COMMENTS, TC_TS_SCHED_CD, TC_WORK_SCHED_CD, ROWVERSION  
		FROM IMAPS.DELTEK.EMPL_LAB_INFO
		WHERE EMPL_ID = @EMPL_ID
		AND   EFFECT_DT = @MAX_EFFECT_DT
	END

	--possible that record for this year already exists
	--but that january 1st record does not
	IF(@MAX_EFFECT_DT > @NEW_EFFECT_DT)
	BEGIN
		DECLARE @FIRST_OF_THIS_YEAR smalldatetime,
			@LAST_OF_LAST_YEAR smalldatetime
			
		SELECT 	@LAST_OF_LAST_YEAR = MAX(EFFECT_DT)
		FROM 	IMAPS.DELTEK.EMPL_LAB_INFO
		WHERE 	EMPL_ID = @EMPL_ID
		AND	EFFECT_DT < @NEW_EFFECT_DT

		SELECT 	@FIRST_OF_THIS_YEAR = MIN(EFFECT_DT)
		FROM 	IMAPS.DELTEK.EMPL_LAB_INFO
		WHERE 	EMPL_ID = @EMPL_ID
		AND	EFFECT_DT > @NEW_EFFECT_DT

		UPDATE 	IMAPS.DELTEK.EMPL_LAB_INFO
		SET 	END_DT = @NEW_END_DT
		WHERE	EMPL_ID = @EMPL_ID
		AND	EFFECT_DT = @LAST_OF_LAST_YEAR

		INSERT INTO IMAPS.DELTEK.EMPL_LAB_INFO
		(EMPL_ID, EFFECT_DT, S_HRLY_SAL_CD,
		HRLY_AMT, SAL_AMT, ANNL_AMT, EXMPT_FL, S_EMPL_TYPE_CD,
		ORG_ID, TITLE_DESC, WORK_STATE_CD, STD_EST_HRS, STD_EFFECT_AMT, 
		LAB_GRP_TYPE, GENL_LAB_CAT_CD, MODIFIED_BY, TIME_STAMP , PCT_INCR_RT,
		HOME_REF1_ID, HOME_REF2_ID, REASON_DESC, DETL_JOB_CD, PERS_ACT_RSN_CD,
		LAB_LOC_CD, MERIT_PCT_RT, PROMO_PCT_RT, COMP_PLAN_CD, SAL_GRADE_CD,
		S_STEP_NO, REVIEW_FORM_ID, OVERALL_RT, MGR_EMPL_ID, END_DT,
		SEC_ORG_ID, COMMENTS, EMPL_CLASS_CD, WORK_YR_HRS_NO, BILL_LAB_CAT_CD,
		PERS_ACT_RSN_CD_2, PERS_ACT_RSN_CD_3, REASON_DESC_2, REASON_DESC_3, 
		CORP_OFCR_FL, SEASON_EMPL_FL, HIRE_DT_FL, TERM_DT_FL, AFF_PLAN_CD, 
		JOB_GROUP_CD, AA_COMMENTS, TC_TS_SCHED_CD, TC_WORK_SCHED_CD, ROWVERSION)
		SELECT @EMPL_ID, @NEW_EFFECT_DT, S_HRLY_SAL_CD,
		HRLY_AMT, SAL_AMT, ANNL_AMT, EXMPT_FL, S_EMPL_TYPE_CD,
		ORG_ID, TITLE_DESC, WORK_STATE_CD, STD_EST_HRS, STD_EFFECT_AMT, 
		LAB_GRP_TYPE, GENL_LAB_CAT_CD, MODIFIED_BY, CURRENT_TIMESTAMP , PCT_INCR_RT,
		HOME_REF1_ID, HOME_REF2_ID, REASON_DESC, DETL_JOB_CD, PERS_ACT_RSN_CD,
		LAB_LOC_CD, MERIT_PCT_RT, PROMO_PCT_RT, COMP_PLAN_CD, SAL_GRADE_CD,
		S_STEP_NO, REVIEW_FORM_ID, OVERALL_RT, MGR_EMPL_ID, (@FIRST_OF_THIS_YEAR - 1),
		SEC_ORG_ID, COMMENTS, EMPL_CLASS_CD, WORK_YR_HRS_NO, BILL_LAB_CAT_CD,
		PERS_ACT_RSN_CD_2, PERS_ACT_RSN_CD_3, REASON_DESC_2, REASON_DESC_3, 
		CORP_OFCR_FL, SEASON_EMPL_FL, HIRE_DT_FL, TERM_DT_FL, AFF_PLAN_CD, 
		JOB_GROUP_CD, AA_COMMENTS, TC_TS_SCHED_CD, TC_WORK_SCHED_CD, ROWVERSION  
		FROM IMAPS.DELTEK.EMPL_LAB_INFO
		WHERE EMPL_ID = @EMPL_ID
		AND   EFFECT_DT = @LAST_OF_LAST_YEAR
	END


	FETCH NEXT FROM EMPL_LAB_CURSOR INTO
	@EMPL_ID, @MAX_EFFECT_DT
END --while fetching

CLOSE EMPL_LAB_CURSOR
DEALLOCATE EMPL_LAB_CURSOR

END






