USE [IMAPSStg]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO


IF EXISTS (SELECT name FROM sysobjects WHERE name = 'XX_R22_FIWLR_EXCLUDE_MAJOR_MINOR' AND type = 'U')
DROP TABLE XX_R22_FIWLR_EXCLUDE_MAJOR_MINOR

CREATE TABLE [dbo].[XX_R22_FIWLR_EXCLUDE_MAJOR_MINOR](
	[MAJOR] [char] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MINOR] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]


GO

SET ANSI_PADDING OFF

GO

