if exists (select * from dbo.sysobjects where id = object_id(N'[XX_PROCESSING_PARAMETERS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [XX_PROCESSING_PARAMETERS]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[XX_PROCESSING_PARAMETERS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [XX_PROCESSING_PARAMETERS] (
	[PARAMETER_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[INTERFACE_NAME_ID] [int] NOT NULL ,
	[INTERFACE_NAME_CD] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PARAMETER_NAME] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PARAMETER_VALUE] [sysname] NOT NULL ,
	[CREATED_BY] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CREATED_DATE] [datetime] NOT NULL ,
	[MODIFIED_BY] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL CONSTRAINT [DF__XX_PROCES__MODIF__6225902D] DEFAULT (suser_sname()),
	[MODIFIED_DATE] [datetime] NULL CONSTRAINT [DF__XX_PROCES__MODIF__6319B466] DEFAULT (getdate()),
	CONSTRAINT [PK_PROCESSING_PARAMETERS] PRIMARY KEY  CLUSTERED 
	(
		[PARAMETER_ID]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] ,
	CONSTRAINT [FK_PROCESSING_PARAMETERS_1] FOREIGN KEY 
	(
		[INTERFACE_NAME_ID]
	) REFERENCES [XX_LOOKUP_DETAIL] (
		[LOOKUP_ID]
	)
) ON [PRIMARY]
END

GO


