if exists (select * from dbo.sysobjects where id = object_id(N'[XX_7KEYS_OUT_DETAIL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [XX_7KEYS_OUT_DETAIL]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[XX_7KEYS_OUT_DETAIL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)

BEGIN

CREATE TABLE [dbo].[XX_7KEYS_OUT_DETAIL](
	[ROW_NUM] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_RECORD_NUM] [int] NULL,
	[PROJ_ID] [varchar](30) NULL,
	[DATA_CATEGORY] [char](3) NULL,
	[CONTRACT_NAME] [varchar](25) NULL,
	[PROJ_NAME] [varchar](25) NULL,
	[PRIME_CONTR_ID] [varchar](20) NULL,
	[LVL_NO] [smallint] NULL,
	[L1_PROJ_SEG_ID] [varchar](30) NULL,
	[L2_PROJ_SEG_ID] [varchar](30) NULL,
	[L3_PROJ_SEG_ID] [varchar](30) NULL,
	[PROJ_MGR_ID] [varchar](12) NULL,
	[PROJ_MGR_NAME] [varchar](25) NULL,
	[PROJ_MGR_EMAIL] [varchar](60) NULL,
	[PROJ_EXECUTIVE_ID] [varchar](12) NULL,
	[PROJ_EXECUTIVE] [varchar](30) NULL,
	[PROJ_EXECUTIVE_EMAIL] [varchar](60) NULL,
	[FINANCIAL_MANAGER] [varchar](30) NULL,
	[IBM_OPP_NUM_SIEBEL] [varchar](30) NULL,
	[CONTRACT_TYPE] [varchar](20) NULL,
	[SERVICE_OFFERING] [varchar](30) NULL,
	[SERVICE_AREA] [varchar](20) NULL,
	[SERVICE_AREA_DESC] [varchar](55) NULL,
	[FEDERAL_SERVICE_AREA_DESC] [varchar](25) NULL,
	[PRACTICE_AREA] [varchar](15) NULL,
	[ULTIMATE_CLIENT] [varchar](30) NULL,
	[CORE_ACCOUNT] [varchar](30) NULL,
	[MI0405_INDICATOR] [varchar](8) NULL,
	[DIVISION] [char](2) NULL,
	[INDUSTRY] [varchar](20) NULL,
	[INDUSTRY_NAME] [varchar](80) NULL,
	[KEY_ACCOUNT] [varchar](20) NULL,
	[KEY_ACCOUNT_NAME] [varchar](25) NULL,
	[GROSS_PROFIT_MARGIN] [decimal](14, 4) NULL,
	[CUST_LONG_NAME] [varchar](40) NULL,
	[S_REV_FORMULA_CD] [varchar](8) NULL,
	[PERIOD_REVENUE] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___PERIO__1844D718]  DEFAULT ((0)),
	[PERIOD_COST] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___PERIO__1938FB51]  DEFAULT ((0)),
	[PERIOD_PROFIT] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___PERIO__1A2D1F8A]  DEFAULT ((0)),
	[QTD_REVENUE] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___QTD_R__1B2143C3]  DEFAULT ((0)),
	[QTD_COST] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___QTD_C__1C1567FC]  DEFAULT ((0)),
	[QTD_PROFIT] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___QTD_P__1D098C35]  DEFAULT ((0)),
	[YTD_REVENUE] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___YTD_R__1DFDB06E]  DEFAULT ((0)),
	[YTD_COST] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___YTD_C__1EF1D4A7]  DEFAULT ((0)),
	[YTD_PROFIT] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___YTD_P__1FE5F8E0]  DEFAULT ((0)),
	[ITD_REVENUE] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___ITD_R__20DA1D19]  DEFAULT ((0)),
	[ITD_COST] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___ITD_C__21CE4152]  DEFAULT ((0)),
	[ITD_PROFIT] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___ITD_P__22C2658B]  DEFAULT ((0)),
	[ITD_VALUE] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___ITD_V__23B689C4]  DEFAULT ((0)),
	[ITD_FUNDING] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___ITD_F__24AAADFD]  DEFAULT ((0)),
	[UNBILLED_REVENUE] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___UNBIL__259ED236]  DEFAULT ((0)),
	[UNBILLED_REVENUE_31TO60DAYS] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___UNBIL__2692F66F]  DEFAULT ((0)),
	[UNBILLED_REVENUE_61TO90DAYS] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___UNBIL__27871AA8]  DEFAULT ((0)),
	[UNBILLED_REVENUE_OVER90DAYS] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___UNBIL__287B3EE1]  DEFAULT ((0)),
	[AGED_BILL_AMT] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___AGED___296F631A]  DEFAULT ((0)),
	[AGED_RECEIVABLE_31TO60DAYS] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___AGED___2A638753]  DEFAULT ((0)),
	[AGED_RECEIVABLE_61TO90DAYS] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___AGED___2B57AB8C]  DEFAULT ((0)),
	[AGED_RECEIVABLE_OVER90DAYS] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___AGED___2C4BCFC5]  DEFAULT ((0)),
	[BILLED_AMT] [decimal](14, 2) NULL CONSTRAINT [DF__XX_7KEYS___BILLE__2D3FF3FE]  DEFAULT ((0)),
	[MOD_NUM] [varchar](10) NULL,
	[PERIOD_OF_PERFORMANCE_START_DT] [datetime] NULL,
	[PERIOD_OF_PERFORMANCE_END_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DT] [datetime] NULL,


	CONSTRAINT [FK_XX_7KEYS_OUT_DETAIL] FOREIGN KEY 
	(
		[STATUS_RECORD_NUM]
	) REFERENCES [XX_IMAPS_INT_STATUS] (
		[STATUS_RECORD_NUM]
	)
) ON [PRIMARY]

END

GO


