if exists (select * from dbo.sysobjects where id = object_id(N'[XX_7KEYS_OUT_HDR_TEMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [XX_7KEYS_OUT_HDR_TEMP]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[XX_7KEYS_OUT_HDR_TEMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)

BEGIN

CREATE TABLE [XX_7KEYS_OUT_HDR_TEMP] (
	[ROW_NUM_TOTAL] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PERIOD_REVENUE_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PERIOD_COST_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QTD_REVENUE_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QTD_COST_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[YTD_REVENUE_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[YTD_COST_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ITD_REVENUE_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ITD_COST_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ITD_FUNDING_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UNBILLED_REVENUE_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UNBILLED_REVENUE_31TO60DAYS_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UNBILLED_REVENUE_61TO90DAYS_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UNBILLED_REVENUE_OVER90DAYS_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AGED_BILL_AMT_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AGED_RECEIVABLE_31TO60DAYS_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AGED_RECEIVABLE_61TO90DAYS_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AGED_RECEIVABLE_OVER90DAYS_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BILLED_AMT_TOTAL] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]

END

GO


