alter table dbo.xx_ceris_cp_stg
alter column work_schd_dt datetime NULL
GO
alter table dbo.xx_ceris_hist
alter column work_schd_dt datetime NULL
GO
alter table dbo.xx_ceris_hist_archival
alter column work_schd_dt datetime NULL
GO
