if exists (select * from dbo.sysobjects where id = object_id(N'[XX_CERIS_HIST_ERROR_ARCHIVAL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [XX_CERIS_HIST_ERROR_ARCHIVAL]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[XX_CERIS_HIST_ERROR_ARCHIVAL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[XX_CERIS_HIST_ERROR_ARCHIVAL] (
	[CERIS_HIST_ERROR_ARCH_REC_NUM] [int] IDENTITY (1, 1) NOT NULL ,
	[STATUS_RECORD_NUM] [int] NOT NULL ,
	[EMPL_ID] [varchar] (12) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ERROR_DESC] [varchar] (256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TIME_STAMP] [datetime] NOT NULL ,
	CONSTRAINT [PK_XX_CERIS_HIST_ERROR_ARCHIVAL] PRIMARY KEY  CLUSTERED 
	(
		[CERIS_HIST_ERROR_ARCH_REC_NUM]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] ,
	CONSTRAINT [FK_XX_CERIS_HIST_ERROR_ARCHIVAL] FOREIGN KEY 
	(
		[STATUS_RECORD_NUM]
	) REFERENCES [XX_IMAPS_INT_STATUS] (
		[STATUS_RECORD_NUM]
	)
) ON [PRIMARY]
END

GO


