USE [IMAPSStg]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XX_R22_CP_PLC_CODE_COUNT](
	[PLC_COUNT] [int] NULL,
	[CREATE_DATE] [datetime] NULL CONSTRAINT [DF_CP_R22_PLC_CO_CREAT_25B31578]  DEFAULT (getdate())
) ON [PRIMARY]
