USE [IMAPSStg]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[XX_R22_CP_PLC_CODE](
	[PROJECT_ID] [varchar](4) NOT NULL,
	[PLC] [varchar](6) NOT NULL,
	[PLC_DESC] [varchar](100) NULL,
	[PLC_STATUS] [varchar](1) NULL,
	[PLC_DATE_OPN] [datetime] NULL,
	[PLC_DATE_CLSD] [datetime] NULL,
	[CREATE_DT] [datetime] NULL CONSTRAINT [DF__CP_R22_PLC_CO__CREAT__23CACD06]  DEFAULT (getdate()),
	[UPDATE_FLG] [varchar](1) NULL,
	[PLC_UPDATE_DT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF