ALTER TABLE dbo.XX_PCLAIM_IN ALTER COLUMN VENDOR_ID VARCHAR(10) 
GO
ALTER TABLE dbo.XX_PCLAIM_IN ALTER COLUMN VEND_EMPL_SERIAL_NUM VARCHAR(8)
GO
ALTER TABLE dbo.XX_PCLAIM_IN_ARCH ALTER COLUMN VENDOR_ID VARCHAR(10) 
GO
ALTER TABLE dbo.XX_PCLAIM_IN_ARCH ALTER COLUMN VEND_EMPL_SERIAL_NUM VARCHAR(8)
GO