USE [IMAPSStg]
GO
/****** Object:  Index [PK_XX_PCLAIM_IN_ARCH]    Script Date: 02/23/2009 12:03:56 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[XX_PCLAIM_IN_ARCH]') AND name = N'PK_XX_PCLAIM_IN_ARCH')
ALTER TABLE [dbo].[XX_PCLAIM_IN_ARCH] DROP CONSTRAINT [PK_XX_PCLAIM_IN_ARCH]

